<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <!--
    informacion personal
  -->
  <ng-wizard-step [state]="normal"  [title]="'Información Personal'" [description]="" >
  <form class="funcFormulario" [formGroup]="formPersona" class="was-validated" novalidate>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <input type="text" [(ngModel)] = "persona.id" formControlName ='id' hidden>

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="tipoId">Tipo Identificación</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="tipoIdentificacionR"
                  formControlName='tipoIdentificacion' required>
                  <option value="">Seleccione</option>
                  <option *ngFor="let tipoId of objTipoId" [ngValue]="tipoId" [selected]="tipoIdentificacionR&&tipoId.id === tipoIdentificacionR.id">{{tipoId.codigo }}</option>
                  objTipoId

                </select>
                <div class="valid-feedback" *ngIf="!idtipoIdentificacionField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="identificacion">Identificación</label>
              <div class="col-md-7">
                <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su identificación"
                  class="form-control is-valid" [(ngModel)]="persona.identificacion" formControlName='identificacion'
                  required id="identificacion" (blur)="traerPersonasById()" >
                <div class="valid-feedback" *ngIf="!identificacionField.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="pNombre">Primer Nombre</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su primer nombre"
                  class="form-control is-valid" [(ngModel)]="persona.nombre1" formControlName='nombre1' required>
                <div class="valid-feedback" *ngIf="!nombre1Field.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="segundoNombre">Segundo Nombre</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su segundo nombre"
                  class="form-control" [(ngModel)]="persona.nombre2" formControlName='nombre2' >
                <!-- <div class="valid-feedback" *ngIf="!nombreDosField.hasError('required')">
                  Valor valido
                </div> -->
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="apellido1">Primer Apellido</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su primer apellido"
                  class="form-control is-valid" [(ngModel)]="persona.apellido1" formControlName='apellido1'
                  required>
                <div class="valid-feedback" *ngIf="!apellido1Field.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="apellido2">Segundo Apellido</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su segundo apellido"
                  class="form-control" [(ngModel)]="persona.apellido2" formControlName='apellido2'>
                <!-- <div class="valid-feedback" *ngIf="!apellidoDosField.hasError('required')">
                  Valor valido
                </div> -->
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="departamento">Departamento de Nacimiento</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="departamento" formControlName='departamento'
                  id="departamento" (change)="traerCiudadesByDep()" required>
                  <option [value]="null">Seleccione</option>
                  <option *ngFor="let dep of objDep" [ngValue]="dep" [selected]="departamento&&dep.id === departamento.id ">{{dep.descripcion }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!departamentoField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="departamento">Ciudad de Nacimiento</label>
              <div class="col-md-7">
                <select [compareWith]="compare" class="form-control is-valid" [(ngModel)]="ciudadN" formControlName='ciudadNac'
                  required>
                  <option [value]="null">Seleccione</option>
                  <!-- <option *ngFor="let ciudad of objCiudadDep" [ngValue]="ciudad" [selected]="ciudadN&&ciudad.id === ciudadN.id ">{{ciudad.descripcion }}</option> -->
                  <option *ngFor="let ciudad of objCiudadDep" [ngValue]="ciudad" >{{ciudad.descripcion }}</option>

                </select>

                <!-- {{ciudadN |json}} -->
                <div class="valid-feedback" *ngIf="!idciudadNacField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>

            <!-- <div *ngIf="objCiudadDep.length > 0" class="form-group row">
              <label class="col-md-4 col-form-label" for="ciudad">Ciudad de Nacimiento</label>
              <div class="col-md-7">
                <select  class="form-control is-valid" [(ngModel)]="persona.ciudadNac" formControlName='ciudadNac'
                  required>
                  <option [value]="null">Seleccione</option>
                  <option *ngFor="let ciudad of objCiudadDep"  [ngValue]="ciudad" [selected]="(ciudad.id == persona.ciudadNac.id)?'selected':false">{{ciudad.descripcion  }}{{ ciudad.id }}{{ persona.ciudadNac.id}}{{ ciudad.id===persona.ciudadNac.id  }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!idciudadNacField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="fechaFinal">Fecha de Nacimiento</label>
              <div class="col-md-7">
                <my-date-picker class="is-valid" placeholder="Seleccione su Fecha de Nacimiento"
                  [options]="myDatePickerOptionsFin" formControlName="fechaNac" [(ngModel)]="persona.fechaNac">
                </my-date-picker>
                <div class="valid-feedback" *ngIf="!fechaNacField.hasError('required');else formato ">
                  Valor valido
                </div>
                <ng-template #formato>
                  formato de fecha:(aaaa/mm/dd)
                </ng-template>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="rutaDocumento">Foto</label>
              <div class="custom-file col-md-5">
                <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile"
                  (change)="onFileChange($event.target.files)">
                <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose
                  file</label>
              </div>
            </div>
          </div>

          <img width="150" height="250" class="col-md-3" formControlName="rutaDoc">
        </div>
      </div>
    </form>
    </ng-wizard-step>
<!--
  informacion Ubicacion
 -->
    <ng-wizard-step [state]="formPersona.valid?'normal':'disabled'" [title]="'Información de Ubicación'" [description]="">
      <form class="funcFormulario" [formGroup]="formUbicacion" class="was-validated" novalidate>

      <div class="col-md-8">
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="departamentoU">Departamento de Ubicación</label>
        <div class="col-md-7">
          <select class="form-control is-valid" [(ngModel)]="departamentoU" formControlName='departamentoU'
            id="departamentoU" (change)="traerCiudadesByDepU()" required>
            <option value="">Seleccione</option>
            <option *ngFor="let dep of objDep" [ngValue]="dep" [selected]="departamentoU&&dep.id === departamentoU.id">{{dep.descripcion }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!departamentoUField.hasError('required')">
            Valor valido
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="ciudadU">Ciudad de Ubicación</label>
        <div class="col-md-7">
          <select [compareWith]="compare" class="form-control is-valid" [(ngModel)]="ciudadU" formControlName='ciudadUbicacion'
            required>
            <option value="">Seleccione</option>
            <option *ngFor="let ciudad of objCiudadDepU" [ngValue]="ciudad" >{{ ciudad.descripcion }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idciudadUbicacionField.hasError('required')">
            Valor valido
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="direccion">Dirección</label>
        <div class="col-md-7">
          <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su Direccion"
            class="form-control is-valid" [(ngModel)]="persona.direccion" formControlName='direccion' required>
          <div class="valid-feedback" *ngIf="!direccionField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="email">Correo Electronico</label>
        <div class="col-md-7">
          <input type="email" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Email"
            class="form-control is-valid" [(ngModel)]="persona.email" formControlName="email"
            required>
          <div class="valid-feedback" *ngIf="!emailField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="celular">Celular</label>
        <div class="col-md-7">
          <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
            class="form-control is-valid" [(ngModel)]="persona.celular" formControlName="celular"
            required>
          <div class="valid-feedback" *ngIf="!celularField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="movil">Teléfono Fijo</label>
        <div class="col-md-7">
          <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
            class="form-control is-valid" [(ngModel)]="persona.telefonoFijo" formControlName="telefonoFijo"
            required>
          <div class="valid-feedback" *ngIf="!telefonoFijoField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      </div>
      </form>
    </ng-wizard-step>
<!--
  informacion de contacto
 -->
    <ng-wizard-step [state]="formUbicacion.valid?'normal':'disabled'" [title]="'Información de Contacto'" [description]="">
      <form class="funcFormulario" [formGroup]="formContacto" class="was-validated" novalidate>

      <div class="col-md-8">
        <!-- <input type="text" value="idpersona" [(ngModel)]="contrato.idpersona" formControlName='idpersona'> -->

      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="fechaContrato">Fecha Inicio Contrato</label>
        <div class="col-md-7">
          <my-date-picker class="is-valid" placeholder="Seleccione la fecha de contrato "
            [options]="myDatePickerOptions" formControlName="fechaContratacion" [(ngModel)]="contrato.fechaContratacion" (dateChanged)="onDateChanged($event)">
          </my-date-picker>
          <div class="valid-feedback" *ngIf="!fechaContratacionField.hasError('required');else formato ">
            Valor valido
          </div>
          <ng-template #formato>
            formato de fecha:(aaaa/mm/dd)
          </ng-template>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="fechaContrato">Fecha Fin Contrato</label>
        <div class="col-md-7">
          <my-date-picker class="is-valid" placeholder="Seleccione la fecha final del contrato "
            [options]="myDatePickerOptionsFinC" formControlName="fechaFinalContrato" [(ngModel)]="contrato.fechaFinalContrato">
          </my-date-picker>
          <div class="valid-feedback" *ngIf="!fechaFinalContratoField.hasError('required');else formato ">
            Valor valido
          </div>
          <ng-template #formato>
            formato de fecha:(aaaa/mm/dd)
          </ng-template>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-5 col-form-label" for="otroSi">Otro si</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="contrato.otrosi" formControlName='otrosi' name="inlineRadioOptions" id="inlineRadio1" value="S" >
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="contrato.otrosi" formControlName='otrosi' name="inlineRadioOptions" id="inlineRadio2" value="N" [checked]="true">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="tipoContrato">Tipo Contrato</label>
        <div class="col-md-7">
          <select class="form-control is-valid" [(ngModel)]="contrato.idtipoContrato" formControlName='idtipoContrato'
            required>
            <option value="">Seleccione</option>
            <option *ngFor="let tipoC of objTipoContrato" [value]="tipoC.id">{{ tipoC.nombreTipocontrato }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idtipoContratoField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="input-group-addon col-md-1" (click)="openModalCrear()"><img title="Agregar nuevo elemento" style="width: 20px;height: 20px;cursor:pointer;margin-left: -1rem;margin-top: 0.5rem;" src="assets/img/icons/add2.png" ></div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="perfilProfesional">Cargo</label>
        <div class="col-md-7">
          <select class="form-control is-valid" [(ngModel)]="rol" formControlName='rol'
            required>
            <option value="">Seleccione</option>
            <option *ngFor="let rol of objRol" [ngValue]="rol">{{ rol.nombreRol }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idrolField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="input-group-addon col-md-1" (click)="openModalCrearRol()"><img title="Agregar nuevo elemento" style="width: 20px;height: 20px;cursor:pointer;margin-left: -1rem;margin-top: 0.5rem;" src="assets/img/icons/add2.png" ></div>

      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="movil">Numero Contrato</label>
        <div class="col-md-7">
          <input type="text" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese el numero de contrato"
            class="form-control is-valid" [(ngModel)]="contrato.numeroContrato" formControlName="numeroContrato"
            required>
          <div class="valid-feedback" *ngIf="!numeroContratoField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="observacion">Observación</label>
        <div class="col-md-7">
          <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Observación..." class="form-control is-valid" [(ngModel)]="contrato.observacion" formControlName='observacion'></textarea>
            <div class="valid-feedback" *ngIf="!observacionField.hasError('required')">
              Valor valido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingrese un valor valido para la descripción
          </div>
          </div>
    </div>
    </form>
    </ng-wizard-step>
<!--
  documentacion de contratacion
 -->
    <ng-wizard-step [state]="formContacto.valid?'normal':'disabled'" [title]="'Documentación de Contratación'" [description]="">
      <form class="funcFormulario" [formGroup]="formContrato" class="was-validated" novalidate>

      <div class="col-md-8">


      <div class="form-group row">
        <label class="col-md-5 col-form-label" for="rutaDocumento_matricula">Cedula</label>
        <div class="custom-file col-md-5">
          <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile"
            (change)="onFileChange($event.target.files)">
          <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose
            file</label>
        </div>
      </div>

    </div>
  </form>
    </ng-wizard-step>

  </ng-wizard>
<!-- <div class="card-footer">
  <button type="submit" class="btn btn-sm btn-primary" (click)="guardarPersona(Persona)" [disabled] ="formPersona.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
  <button type="reset" class="btn btn-sm btn-danger" (click)="limpiarValidaciones()"><i class="fa fa-ban"></i> Cancelar</button>
</div> -->
<div class="col-md 7" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
</div>
<!-- <app-tipo-contrato
[tiposC]="objTipoContrato">

</app-tipo-contrato>
<app-roles
      [roles]="objRol"
      >

      </app-roles> -->
