<div bsModal #formtemplate="bs-modal"  class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipo Programa</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Tipo Programa</strong>
    </div>
    <div class="card-body">
      <form class="tipoFormulario" [formGroup] = "formTipoPrograma" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameTipoPrograma">Tipo de Programa</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tipo.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre de tipo programa" class="form-control is-valid" [(ngModel)]="tipo.nombreTipoPrograma" formControlName='nombreTipoPrograma' required>
                <div class="valid-feedback" *ngIf="!nameTipoProgramaField.hasError('required')">
                Valor válido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingresé un valor valido para el detalle
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionTipoPrograma">Descripción</label>
              <div class="col-md-7">
                <textarea type="text" rows="3" placeholder="Descripcion ...." placeholder="Ingrese la descripción" class="form-control is-valid" [(ngModel)]="tipo.descripcion" formControlName='descripcion' required></textarea>
                  <div class="valid-feedback" *ngIf="!descripcionTipoProgramaField.hasError('required')">
                    Valor válido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingresé un valor válido para la descripción
                </div>
                </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipo(tipo)" [disabled] ="formTipoPrograma.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</div>
  </div>
</div>
  <!-- <app-tipo-programa-list
  [tipos]="objTipos"
   (openModalNew)="openModalTipo()"
   (openModalUpdate)="openModalTipoUpdate($event)">
  </app-tipo-programa-list> -->

