<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignaturap0 -->
    <h6><strong> Información Del Estudiante </strong></h6>
  </div>
  <div class="card-body col-12 my-3 pt-3 shadow">
    <img class="float-left rounded-circle mr-2" style ="width: 100px; height: 100px;" src="./../../../../../assets/img/avatars/avatarEstudiante.png">
    <p class="card-text" style = "font-size: x-large;"><strong>Nombres: </strong>DAVID LOZADA</p>
    <p class="card-text" style = "font-size: x-large;"><strong>Apellidos: </strong>LOZADA CERON</p>
    <p class="card-text"><strong>Identificación: </strong>11111111111</p>
    <p class="card-text"><strong>Edad: </strong>38 Años</p>
    <p class="card-text"><strong>e-mail: </strong>davic_1@hotmail.com</p>
    <p class="card-text"><strong>Movil: </strong>3156614275</p>
    <p class="card-text"><strong>Fijo: </strong>8333333</p>
  </div>

</div>