<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión de Documento matrícula</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Documento matrícula</strong>
      </div>
      <div class="card-body">
         <form class="documento_matriculaFormulario" [formGroup] = "formDocumento_matricula" class="was-validated" novalidate>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="tipoDocumentoDocumento_matricula">Tipo documento </label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese tipo documento" class="form-control is-valid" [(ngModel)]="documento_matricula.tipoDocumento" formControlName='tipoDocumento' required>
                  <div class="valid-feedback" *ngIf="!tipoDocumentoDocumento_matricula.hasError('required')">
                    Valor válido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingresé un valor válido para tipo documento
                    </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-5 col-form-label" for="rutaDocumento_matricula">Doc. Contenido</label>
                      <div class="custom-file col-md-5">
                        <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile" (change)="onFileChange($event.target.files)">
                        <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
                        </div>
                      </div>

          </form>    
          <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarDocumento_matricula(documento_matricula)" [disabled] ="formDocumento_matricula.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-documento-matricula-list
    [documento_matricula]="objDocumento_matricula"
     (openModalNew)="openModalDocumento_matricula()"
     (openModalUpdate)="openModalDocumento_matriculaUpdate($event)">
    </app-documento-matricula-list>
  
