<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión de Módulo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Módulo</strong>
      </div>
      <div class="card-body">
        <form class="moduloFormulario" [formGroup] = "formModulo" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nameModulo">Detalle Módulo</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "modulo.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el detalle del módulo" class="form-control is-valid" [(ngModel)]="modulo.detalle" formControlName='detalle' required>
                <div class="valid-feedback" *ngIf="!nameModuloField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el detalle del modulo
              </div>
              </div>
              <form class="moduloFormulario" [formGroup] = "formModulo" class="was-validated" novalidate></form>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="descripcionModulo">Descripción</label>
                <div class="col-md-7">
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la descripción" class="form-control is-valid" [(ngModel)]="modulo.descripcion" formControlName='descripcion' required>
                    <div class="valid-feedback" *ngIf="!descripcionModulo.hasError('required')">
                      Valor válido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingresé un valor válido para la descripción
                  </div>
                  </div>
                  <form class="moduloFormulario" [formGroup] = "formModulo" class="was-validated" novalidate></form>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="codigoModulo">Código</label>
                    <div class="col-md-7">
                      <input type="text" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese código" class="form-control is-valid" [(ngModel)]="modulo.codigo" formControlName='codigo' required>
                        <div class="valid-feedback" *ngIf="!codigoModulo.hasError('required')">
                          Valor válido
                        </div>
                      </div>
                      <div class="invalid-feedback">
                        por favor ingresé un valor válido para código
                      </div>
                      </div>
                      
        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarModulo(modulo)" [disabled] ="formModulo.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-modulo-list
    [modulo]="objModulo"
     (openModalNew)="openModalModulo()"
     (openModalUpdate)="openModalModuloUpdate($event)">
    </app-modulo-list>
  