<div class="card" (click)="programasMatriculados(programa)">
  <div class="card-header">
    <!-- VA EL TIPO DE PROGRAMA -->
      <h6 >CICLICO</h6>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <h6>BACHILLERATO</h6>
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/programaEdu4.png" alt="Modelo artista">
  </div>
  <div class="card-footer">
    <!-- <div *ngIf="programa.estado.estado === 'ACTIVO'"> -->
    <p class="card-text"><strong>Periodo:</strong></p>
    <p class="card-text"><strong>Inicia:</strong></p>
    <p class="card-text"><strong>Finaliza:</strong> </p>
  <!-- </div> -->
</div>

</div>
