
<div class="card">
    <div class="card-header">
      <p><strong>Datos de la Empresa Principal</strong></p>
    </div>
    <div class="card-body">
      <form class="EmpresaFormulario" [formGroup] = "formEmpresa" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="razonSocial">Razón Social</label>
          <div class="col-md-5">
              <input type="number" [(ngModel)]="empresa.id" formControlName='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la razón social" class="form-control is-valid" [(ngModel)]="empresa.razonSocial" formControlName='razonSocial' required>
                  <div class="valid-feedback" *ngIf="!nameEmpresaField.hasError('required')">
                      Valor válido
                  </div>
            </div>
            <div class="invalid-feedback">
                  por favor ingresé un valor válido para razón social
            </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="representanteLegal">Representante Legal</label>
          <div class="col-md-5">
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el representante legal" class="form-control is-valid" [(ngModel)]="empresa.representanteLegal" formControlName='representanteLegal' required>
                  <div class="valid-feedback" *ngIf="!nameEmpresaField.hasError('required')">
                      Valor válido
                  </div>
            </div>
            <div class="invalid-feedback">
                  por favor ingresé un valor válido para representante legal
            </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="nitEmpresa">NIT</label>
          <div class="col-md-5 input-group">
            <input  type="number" placeholder="Ingrese el nit" class="form-control is-valid col-md-9" [(ngModel)]="empresa.nit" formControlName='nit' required>
            <span class="input-group-addon"><strong> - </strong></span>
            <input  type="number" placeholder="Digito" class="form-control is-valid col-md-3" [(ngModel)]="empresa.digitoVerificacion" formControlName='digitoVerificacion'>
            <div class="valid-feedback" *ngIf="!nitEmpresaField.hasError('required')">
                Valor válido
            </div>
          </div>
          <div class="invalid-feedback">
              por favor ingresé un valor válido para el nit
          </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="rutaLogo">Logo</label>
            <div class="custom-file col-md-5">
                <input type="file" class="custom-file-input" multiple formControlName="rutaLogo" id="importFile" (change)="onFileChange($event.target.files)">
                <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
            </div>
        </div>
      </form>
      </div>
      <div class="card-footer">
      <!-- <div class="card-footer"> -->
      <button *ngIf="empresa.id === null" type="submit" class="btn btn-sm btn-success" (click)="guardarEmpresa(empresa)" [disabled] ="formEmpresa.invalid"><i class="fa fa-dot-circle-o"></i>Guardar</button>
      <button *ngIf="empresa.id !== null " type="submit" class="btn btn-sm btn-primary" (click)="guardarEmpresa(empresa)" [disabled] ="formEmpresa.invalid"><i class="fa fa-dot-circle-o"></i>Actualizar</button>
      </div>
</div>