<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipo Actividad</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Tipo Actividad</strong>
    </div>
    <div class="card-body">
      <form class="tipoActividadFormulario" [formGroup] = "formTipoA" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameTipoC">Nombre de Tipo Actividad</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tipoActividad.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del tipo Actividad" class="form-control is-valid" [(ngModel)]="tipoActividad.tipoActividad" formControlName='tipoActividad' required>
                <div class="valid-feedback" *ngIf="!nameTipoAField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del tipo contrato
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionTipo">Descripción</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese una descripción para el tipo de actividad" class="form-control is-valid" [(ngModel)]="tipoActividad.descripcion" formControlName='descripcion' required>
                  <div class="valid-feedback" *ngIf="!descripcionTipo.hasError('required')">
                    Valor valido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingrese un valor valido para la descripción
                </div>
                </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipoContrato(tipoActividad)" [disabled] ="formTipoA.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-list-tipo-actividad
  [tipoActividad]="objTipoA"
   (openModalNew)="openModalTipoA()"
   (openModalUpdate)="openModalTipoAUpdate($event)">
  </app-list-tipo-actividad>

