<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Infraestructura</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Infraestructura</strong>
    </div>
    <div class="card-body">
      <form class="infraestructuraFormulario" [formGroup] = "formInfraestructura" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nombreSalon">Nombre Salón</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "infraestructura.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del Salón" class="form-control is-valid" [(ngModel)]="infraestructura.nombreSalon" formControlName='nombreSalon' required>
              <div class="valid-feedback" *ngIf="!nameSalonField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del Salón
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="capacidadEstudiantes">Capacidad</label>
              <div class="col-md-7">
                <input type="number" placeholder="Ingrese la capacidad del Salón" class="form-control is-valid" [(ngModel)]="infraestructura.capacidadEstudiantes" formControlName='capacidadEstudiantes' required>
                  <div class="valid-feedback" *ngIf="!numberStudentField.hasError('required')">
                    Valor valido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingrese un valor valido para la capacidad del Salón
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="descripcion">Descripción</label>
                  <div class="col-md-7">
                    <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la descripcion del Salón" class="form-control is-valid" [(ngModel)]="infraestructura.descripcion" formControlName='descripcion' required></textarea>
                      <div class="valid-feedback" *ngIf="!descripcionField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      por favor ingrese un valor valido para la descripción
                    </div>
                    </div>
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarInfraestructura(infraestructura)" [disabled] ="formInfraestructura.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-infraestructura-list
  [infraestructuras]="objInfraestructuras"
   (openModalNew)="openModalInfraestructura()"
   (openModalUpdate)="openModalInfraestructuraUpdate($event)">
    
  </app-infraestructura-list>
  
