<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión de Procesos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Proceso</strong>
      </div>
      <div class="card-body">
        <form class="procesoFormulario" [formGroup] = "formProceso" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nameProceso">Nombre Proceso</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "proceso.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del proceso" class="form-control is-valid" [(ngModel)]="proceso.nombreProceso" formControlName='nombreProceso' required>
                <div class="valid-feedback" *ngIf="!nameProcesoField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el nombre del proceso
              </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="descripcionProceso">Descripción</label>
                <div class="col-md-7">
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la descripción " class="form-control is-valid" [(ngModel)]="proceso.descripcion" formControlName='descripcion' required>
                    <div class="valid-feedback" *ngIf="!descripcionProceso.hasError('required')">
                      Valor válido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingresé un valor válido para la descripción
                  </div>
                  </div>
        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarProceso(proceso)" [disabled] ="formProceso.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-proceso-list
    [proceso]="objProceso"
     (openModalNew)="openModalProceso()"
     (openModalUpdate)="openModalProcesoUpdate($event)">
    </app-proceso-list>
  