<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>MATERIA 1</h6>
      <p class="card-text doc"><strong>6-7</strong></p>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <p class="card-text doc" style="color: rgb(131, 11, 11);"><strong>Reprobada</strong><img style="width: 20px;height: 20px;" src="./../../../../../assets/img/icons/reprobada.png"></p>
    
    
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/mater5.jpg">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
      <p class="card-text doc"><strong>Calificación: </strong>4,5</p>
      <p class="card-text doc"><strong>Reprobada: </strong> 0</p>
      <p class="card-text doc"><strong>Cancelada: </strong> 0</p>
      <span class="badge badge-success" style="cursor: pointer;">Matricular</span>

  </div>
</div>
