<div bsModal #formJornadaTemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Registrar Jornadas</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="JornadaFormulario" [formGroup] = "formJornada" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nombreJornada">Jornada</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "jornada.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el Jornada" class="form-control is-valid" [(ngModel)]="jornada.nombreJornada" formControlName='nombreJornada' required>
                <div class="valid-feedback" *ngIf="!nombreJornadaField.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el Jornada
              </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="horaInicial">Hora Inicial</label>
                <div class="col-md-7">
                  <input type="time" placeholder="Ingrese hora inicial jornada" class="form-control is-valid" [(ngModel)]="jornada.horaInicial" formControlName='horaInicial' required>
                    <div class="valid-feedback" *ngIf="!horaInicialField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para hora inicial
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="horaFinal">Hora Final</label>
                <div class="col-md-7">
                  <input type="time" placeholder="Ingrese hora final jornada" class="form-control is-valid" [(ngModel)]="jornada.horaFinal" formControlName='horaFinal' required>
                    <div class="valid-feedback" *ngIf="!horaFinalField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para hora final
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="codigoJornada">Número de Horas</label>
                <div class="col-md-7">
                  <input type="number" placeholder="Ingrese el número de horas" class="form-control is-valid" [(ngModel)]="jornada.numeroHoras" formControlName='numeroHoras' required>
                    <div class="valid-feedback" *ngIf="!numHorasField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para el numero de horas de la Jornada
                  </div>
                  </div>
                  <label ><strong>Seleccione los dias de la jornada</strong></label><br>
                  <div class="dia card form-group row container">
                    <div><input type="checkbox" >TODOS</div>
                    <div *ngFor="let dia of objsDias; let i = index">
                    <input type="checkbox" (change)="onChange(dia, $event.target.checked, i)">{{dia.dia}}
                  </div>
                </div>
        </form>
      </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarJornada()" [disabled] ="formJornada.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
  
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</div>
</div>
</div>
