<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form novalidate [formGroup]="formLogin">
                  <h1>Iniciar Sesión</h1>
                  <p class="text-muted">Ingrese su cuenta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="ejemplo@mail.com" autocomplete="usuario" formControlName="usuario">
                  </div>
                  <alert *ngIf = "usuarioField.hasError('required') && usuarioField.dirty" type="danger"  >
                    <strong>Error!</strong> Este campo es obligatorio, ingrese su usuario
                  </alert>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password" formControlName="password">
                  </div>
                  <alert *ngIf = "passwordField.hasError('required') && passwordField.dirty" type="danger"  >
                    <strong>Error!</strong> Este campo es obligatorio, ingrese la contraseña
                  </alert>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" (click)="onLogin()" class="btn btn-primary px-4">Iniciar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Olvido su Contraseña?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

