<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>MATERIA 1</h6>
      <p class="card-text doc"><strong>6-7</strong></p>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <p class="card-text doc"><strong>Cursando</strong></p>
    
    
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/mater5.jpg">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
    <!-- <p class="card-text" *ngIf="materia.contrato.id !== 0"><img class="img-avatar" title="Imagen Docente" width="10" height="10" src="./../../../../../assets/img/avatars/avatarMaster.jpg" alt="admin@bootstrapmaster.com"><strong>{{materia.contrato.persona.nombre1 +' '+ materia.contrato.persona.apellido1}}</strong></p> -->
    <p class="card-text doc" ><img class="img-avatar" title="Imagen Docente" width="10" height="10" src="./../../../../../assets/img/avatars/avatarMaster.jpg" alt="admin@bootstrapmaster.com"><strong>Sin Asignar</strong></p>
    <span class="badge badge-warning" style="cursor: pointer;">Cancelar Matricula</span>
    <span class="badge badge-danger" style="cursor: pointer;">Eliminar Matricula</span>

  </div>
</div>
