<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión Documento Actividad</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Documento actividad</strong>
      </div>
      <div class="card-body">
        <form class="documentoFormulario" [formGroup] = "formDocumento" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nameDocumento">Nombre Documento</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "documento.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del documento" class="form-control is-valid" [(ngModel)]="documento.nombre_documento" formControlName='nombre_documento' required>
                <div class="valid-feedback" *ngIf="!nameDocumentoField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el nombre del documento
              </div>
              </div>
              <form class="documentoFormulario" [formGroup] = "formDocumento" class="was-validated" novalidate></form>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="observacion_documentoDocumento">Observación documento</label>
                <div class="col-md-7">
                  <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la observacion " class="form-control is-valid" [(ngModel)]="documento.observacion_documento" formControlName='observacion_documento' required></textarea>
                    <div class="valid-feedback" *ngIf="!observacion_documentoDocumento.hasError('required')">
                      Valor válido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingresé un valor válido para la observación
                  </div>
                  </div>
                  
                      <form class="documentoFormulario" [formGroup] = "formDocumento" class="was-validated" novalidate></form>
                      <div class="form-group row">
                        <label class="col-md-5 col-form-label" for="rutaDoc">Doc. Contenido</label>
                      <div class="custom-file col-md-5">
                        <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile" (change)="onFileChange($event.target.files)">
                        <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>  </div>
                          </div>              
        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarDocumento(documento)" [disabled] ="formDocumento.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-documento-actividad-list
    [documento]="objDocumento"
     (openModalNew)="openModalRol()"
     (openModalUpdate)="openModalDocumentoUpdate($event)">
    </app-documento-actividad-list>
  
