<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipo Transacción</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Tipo Transacción</strong>
    </div>
    <div class="card-body">
      <form class="tipo_transaccionFormulario" [formGroup] = "formTipoTransaccion" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameTipo_transaccion">Detalle</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tipo_transaccion.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre el detalle" class="form-control is-valid" [(ngModel)]="tipo_transaccion.detalle" formControlName='detalle' required>
                <div class="valid-feedback" *ngIf="!nameTipo_transaccionField.hasError('required')">
                Valor válido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingresé un valor valido para el detalle
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionTipo">Descripción</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la descripción" class="form-control is-valid" [(ngModel)]="tipo_transaccion.descripcion" formControlName='descripcion' required>
                  <div class="valid-feedback" *ngIf="!descripcionTipoField.hasError('required')">
                    Valor válido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingresé un valor válido para la descripción
                </div>
                </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipo_transaccion(tipo_transaccion)" [disabled] ="formTipoTransaccion.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-tipo-transaccion-list
  [tipo_transacciones]="objTipo_transaccion"
   (openModalNew)="openModalTipo_transaccion()"
   (openModalUpdate)="openModalTipo_transaccionUpdate($event)">
  </app-tipo-transaccion-list>

