
<div *ngIf="verificacion === 0" class="card">
  <div class="card-header text-center">
    <img class="card-img-top" src="./../../../../../assets/img/empr-des/logo.jpg" width="10%">
  </div>
  <div  class="card-body">
    <h5 class="card-title"><strong>Razón Social:</strong> VIRTUAL TECHNOLOGY</h5>
    <h5 class="card-title"><strong>Nit:</strong> 9999999-2</h5>
    <h5 class="card-title"><strong>Representante Legal:</strong> DAVID E. LOZADA C.</h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
  </div>
</div>
<div *ngIf="verificacion === 1" class="card">
  <div class="card-header text-center">
    <img class="card-img-top" src={{rutaLogo}} width="10%">
  </div>
  <div  class="card-body">
    <h5 class="card-title"><strong>Razón Social:</strong> {{empresaPr.razonSocial}} </h5>
    <h5 class="card-title"><strong>Nit:</strong> {{empresaPr.nit +'-'+empresaPr.digitoVerificacion}}</h5>
    <h5 class="card-title"><strong>Representante Legal:</strong> {{empresaPr.representanteLegal}}</h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
  </div>
</div>

<div class="accordion">
<div class="card">
  <div class="card-header">
    <h5>
      <button type="button" class="btn btn-link" >
        <strong>Programas</strong>
      </button>
    </h5>
  </div>
  <div>
    <div class="card-body">
      <div class="programaCard">
        <app-programa
          [programa]="programa"
          (outputPrograma)="getPensumPrograma($event)"
          *ngFor="let programa of objsProgramas" >
        </app-programa>
        <app-programa-tab-list
          [programas]="objsProgramas">
        </app-programa-tab-list>
      </div>
    </div>
  </div>
  <div class="card-foother">
    <button type="button" class="btn btn-warning mr-10 btn-sm" (click)="openTablaGestionProgramas()">Gestionar Programas</button>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h5>
      <button type="button" class="btn btn-link" >
        <strong *ngIf="programa.nombrePrograma !== ''">Pensum {{programa.nombrePrograma}}</strong>
        <strong *ngIf="programa.nombrePrograma === ''">Seleccione un Programa</strong>
      </button>
    </h5>
  </div>
  <div>
    <div class="card-body">
     
        <div class="materiaCard">
          <app-materia
          [programa]="programa"
          [materia]="materia"
          [frm]="formMat"
          (updateAsignacionMateria)="cargarObjetoUpdate($event)"
           *ngFor="let materia of objsAsignacionMaterias">
          </app-materia>
          <app-materia-form
            [programa]="programa"
            [materias]="objsAsignacionMaterias">
          </app-materia-form>
        </div>
    </div>
  </div>
  <div *ngIf="programa.nombrePrograma !== ''" class="card-foother">
    <button   type="button" class="btn btn-warning mr-10 btn-sm" (click)="openFrmMateria()">Gestionar Materias</button>
  </div>
</div>
</div>


  <!-- <p>{{materia.materia.tituloMateria}}</p> -->

