.programaCard {
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    gap: 5px;
}
.programa p{
    text-align: center;
    font-size:x-large ;
    color:black;
    font-weight: bold;
}
.materia p{
    text-align: center;
    font-size:x-large ;
    color:black;
    font-weight: bold;
}
.materiaCard {
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    gap: 5px;
}