<div bsModal #materiaForm="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Gestión Materia</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
     </div>
      <div class="modal-body">
       <form class="materiaFormulario" [formGroup] = "formMateria" class="was-validated" novalidate>
                    <div class="form-group row">
                <label class="col-md-4 col-form-label" for="tituloMateria">Asignatura</label>
                <div class="col-md-7">
                  <input type="text" [(ngModel)]="materia.id" formControlName='id' hidden>
                 
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre de la asignatura" class="form-control is-valid" [(ngModel)]="this.materia.materia.tituloMateria" formControlName='tituloMateria' required>
                    <div class="valid-feedback" *ngIf="!tituloMateriaField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para el nombre de la asignatura
                  </div>
                    </div>
                    <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="descripcion">Descripción</label>
                  <div class="col-md-7">
                    <textarea type="text" rows="3" placeholder="Descripcion ...." class="form-control is-valid" [(ngModel)]="materia.materia.descripcion" formControlName='descripcion' required></textarea>
                      <div class="valid-feedback" *ngIf="!descripcionField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      por favor ingrese un valor valido para la descripción
                    </div>
                    </div>
                    <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="contenido">Contenido</label>
                  <div class="col-md-7">
                    <textarea type="text" rows="3" placeholder="Contenido ...." class="form-control is-valid" [(ngModel)]="materia.materia.contenido" formControlName='contenido' required></textarea>
                      <div class="valid-feedback" *ngIf="!contenidoField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      por favor ingrese un valor valido para el contenido
                    </div>
                    </div>
                    <div class="form-group row">
                      
                        <label class="col-md-4 col-form-label" for="select3">Nivel</label>
                        <div  class="input-group col-md-7">
                        <select class="form-control form-control-sm" [(ngModel)]="materia.clasificacion" formControlName="clasificacion" required>
                          <option selected [value]="" >Por favor Seleccione</option>
                            <option *ngFor="let clasificacion of ObjsClasificaciones" [ngValue]="clasificacion" [selected]="clasificacion.id === materia.clasificacion.id">{{clasificacion.detalleClasificacion}}</option>
                        </select>
                        <div class="input-group-addon"><img title="Agregar nuevo elemento" style="width: 20px;height: 20px;cursor:pointer" src="./../../../../../assets/img/icons/add2.png" (click)="openModalCrearClasificacion()"></div>
                    </div>
                    
                    <div class="invalid-feedback">
                      Selecciona un Nivel
                    </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="contrato">Asignar Docente</label>
                      <div  class="col-md-7">
                        <div *ngIf="val === 0">No hay docentes contratados</div>
                        <select *ngIf="val === 1" class="form-control form-control-sm" [(ngModel)]="materia.contrato" formControlName="contrato" >
                          <option selected [ngValue]="" >Por favor Seleccione</option>
                          <option *ngFor="let contrato of objsContratos" [ngValue]="contrato" [selected]="contrato.id === materia.contrato.id" >{{contrato.persona.nombre1 +' '+ contrato.persona.apellido1}}</option>
                        </select>
                        <div class="invalid-feedback">
                          Selecciona un Docente
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-5 col-form-label" for="rutaDoc">Doc. Contenido</label>
                      <div class="custom-file col-md-5">
                        <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile" (change)="onFileChange($event.target.files)">
                        <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
                      </div>
                      <div class="valid-feedback" *ngIf="!contenidoField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                    <label ><strong>Seleccione Materias pre-requisito</strong></label><br>
                    <div class="materia card form-group row container">
                      <div><input type="checkbox" >TODOS</div>
                      <div *ngFor="let materia of materias; let i = index">
                      <input type="checkbox" (change)="onChange(materia.materia, $event.target.checked, i)">{{materia.materia.tituloMateria}}
                    </div>
                  </div>
       </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarMateria()" ><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
       
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
  </div>
</div>
<app-clasificacion
[clasificaciones]="ObjsClasificaciones">
</app-clasificacion>