<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Medio de Pago</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Medio de Pago</strong>
    </div>
    <div class="card-body">
      <form class="mPagoFormulario" [formGroup] = "formMedioPago" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="detalleMedioPago">Medio de Pago</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "mPago.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el medio de pago" class="form-control is-valid" [(ngModel)]="mPago.detalleMedioPago" formControlName='detalleMedioPago' required>
              <div class="valid-feedback" *ngIf="!detalleMedioPagoField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="detalleMedioPagoField.hasError('required')">
              por favor ingrese un valor valido para el medio de pago
            </div>
            </div>
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarMedioPago(mPago)" [disabled] ="formMedioPago.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-medio-pago-list
  [mpagos]="objmPagos"
   (openModalNew)="openModalMedioPago()"
   (openModalUpdate)="openModalMedioPagoUpdate($event)">
  </app-medio-pago-list>

