<div bsModal #formtemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Registrar Programas</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="programaFormulario" [formGroup] = "formPrograma" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nombrePrograma">Programa</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "programa.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el programa" class="form-control is-valid" [(ngModel)]="programa.nombrePrograma" formControlName='nombrePrograma' required>
                <div class="valid-feedback" *ngIf="!nombreProgramaField.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el programa
              </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="tipoPrograma">Tipo de Programa</label>
                <div class="input-group col-md-7">
                  <select  [(ngModel)] = "programa.tipoPrograma" class="form-control form-control-sm" formControlName="tipoPrograma" required>
                    <option [value]="null" selected>Por favor Seleccione</option>
                    <option *ngFor="let tipoPrograma of tiposProgramas" [ngValue]="tipoPrograma" [selected]="programa.tipoPrograma.id === tipoPrograma.id">{{tipoPrograma.nombreTipoPrograma}}</option>
                  </select>
                  <div class="input-group-addon"><img title="Agregar nuevo elemento" style="width: 20px;height: 20px;cursor:pointer" src="./../../../../../assets/img/icons/add2.png" (click)="openModalCrearTipoPrograma()"></div>
                  <div class="invalid-feedback">
                    Selecciona un tipo de programa
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="codigoPrograma">Código de Programa</label>
                <div class="col-md-7">
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el programa" class="form-control is-valid" [(ngModel)]="programa.codigoPrograma" formControlName='codigoPrograma' required>
                    <div class="valid-feedback" *ngIf="!codigoProgramaField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para el código programa
                  </div>
                  </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="descripcionPrograma">Descripción</label>
                <div class="col-md-7">
                  <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Descripción..." class="form-control is-valid" [(ngModel)]="programa.descripcionPrograma" formControlName='descripcionPrograma' required></textarea>
                    <div class="valid-feedback" *ngIf="!descripcionProgramaField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para la descripción
                  </div>
                  </div>
        </form>
      </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarPrograma()" [disabled] ="formPrograma.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>

  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</div>
</div>
</div>
<app-tipo-programa
[tipos]="tiposProgramas">

</app-tipo-programa>