<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Medios de Pago Registrados
        <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
        </select>
    </div>
    <div class="card-body">
      <div class="container">
      <table class="table table-striped table-hover table-responsive">
        <thead>
          <tr class="table-info">
            <th>Código</th>
            <th>Medio de Pago</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let mPago of mpagos | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
            <th >{{mPago.id}}</th>
            <td >{{mPago.detalleMedioPago}}</td>
            <td >
                <span class="badge badge-primary" style="cursor: pointer;" (click) = "openModalActualizar(mPago)" >Actualizar</span>
              <span class="badge badge-danger" style="cursor: pointer;" (click) = "openModalDelete(mPago.id)">Eliminar</span>
            </td>
          </tr>
    </tbody>
    <button type="button" class="btn btn-success mr-10 btn-sm" (click)="openModalCrear()">Agregar</button>
      </table>
    </div>
      <ul>
        <span><pagination-controls (pageChange)="pageActual = $event"></pagination-controls></span>
      </ul>
      <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirmación de eliminación de registro</h4>
              <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Esta seguro que desea eliminar este registro ?&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="openModalDelete()">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="onDeleteMedioPago()">Aceptar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md 7" *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
          <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
      </div>
    </div>
  </div>
</div>

