<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Sucursales</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Sucursal</strong>
      </div>
      <div class="card-body">
        <form class="sucursalFormulario" [formGroup] = "formSucursal" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-5 col-form-label" for="principal">¿Principal?</label>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio1">Si</label>
              <input class="form-check-input" type="radio" [(ngModel)]="sucursal.principal" formControlName='principal' name="principal" id="inlineRadio1" value="S" >
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio2">No</label>
              <input class="form-check-input" type="radio" [(ngModel)]="sucursal.principal" formControlName='principal' name="principal" id="inlineRadio2" value="N" [checked]="true">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nameSucursal">Nombre Sucursal</label>
            <div class="col-md-7">
              <input type="number" [(ngModel)]="empresa" formControlName='empresa' hidden>
              <input type="text" [(ngModel)] = "sucursal.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre de la sucursal" class="form-control is-valid" [(ngModel)]="sucursal.nombreSucursal" formControlName='nombreSucursal' required>
                <div class="valid-feedback" *ngIf="!nameSucursalField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el nombre de la sucursal
              </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="direccionSucursal">Dirección</label>
                <div class="col-md-7">
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la dirección " class="form-control is-valid" [(ngModel)]="sucursal.direccion" formControlName='direccion' required>
                    <div class="valid-feedback" *ngIf="!direccionSucursalField.hasError('required')">
                      Valor válido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingresé un valor válido para la dirección
                  </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="telefonoSucursal">Teléfono</label>
                    <div class="col-md-7">
                      <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese el teléfono " class="form-control is-valid" [(ngModel)]="sucursal.telefono" formControlName='telefono' required>
                        <div class="valid-feedback" *ngIf="!telefonoSucursalField.hasError('required')">
                          Valor válido
                        </div>
                      </div>
                      <div class="invalid-feedback">
                        por favor ingresé un valor válido para el teléfono
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="celularSucursal">Celular</label>
                    <div class="col-md-7">
                      <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese el número de celular " class="form-control is-valid" [(ngModel)]="sucursal.celular" formControlName='celular' required>
                        <div class="valid-feedback" *ngIf="!celularSucursalField.hasError('required')">
                          Valor válido
                        </div>
                      </div>
                      <div class="invalid-feedback">
                        por favor ingresé un valor válido para el número de celular
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="departamentoSucursal">Departamento</label>
                  <div class="col-md-7">
                    <select [compareWith]="compareDpto" class="form-control is-valid" [(ngModel)]="departamento" formControlName='departamento'  (change)="traerCiudadesByDep(sucursal.ciudad.departamento)" required>
                      <option  [ngValue]="null">Seleccione</option>
                      <option *ngFor="let dep of objDep" [ngValue]="dep">{{dep.descripcion}}</option> 
                    </select>
                    <div class="valid-feedback" *ngIf="!departamentoSucursalField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                </div>
                 <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="ciudad">Ciudad</label>
                    <div class="col-md-7">
                      <select [compareWith]="compareDpto" class="form-control is-valid" [(ngModel)]="sucursal.ciudad" formControlName='ciudad' required>
                        <option  [ngValue]="null">Seleccione</option>
                        <option *ngFor="let ciudad of objCiudadDep" [ngValue]="ciudad">{{ciudad.descripcion}}</option>
                      </select>
                      <div class="valid-feedback" *ngIf="!ciudadSucursalField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                </div>
        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarSucursal(sucursal)" [disabled] ="formSucursal.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-sucursal-list
    [sucursales]="objSucursales"
    (openModalNew)="openModalSucursal()"
    (openModalUpdate)="openModalSucursalUpdate($event)">
  </app-sucursal-list>
