<div class="col-md-12 grid-margin">
  <div class="card">
    <div class="card-header" style="font-weight: bold;">

      <i class="fa fa-align-justify"></i>Asignación de Permisos
      <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros($event.target.value) ">
        <!-- <option>1</option> -->
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>

    <div class="card-body">

      <form [formGroup]="form" class="forms-sample" (ngSubmit)="guardarPermiso()">
        <!-- <h4 class="card-title">ASIGNACIÓN DE PERMISOS</h4> -->
        <!-- <ngb-tabset (click)="menusByrol()" class="tab-basic vertical-tab">
        <ngb-tab  *ngFor="let rol of roles" title="{{rol.nombreRol}}" >
          <ng-template ngbTabContent  >

            <input type="hidden" value="{{rol.id}}" id="idRol">


          </ng-template>
        </ngb-tab>
      </ngb-tabset> -->
        <div class="form-group col-md-12" style="margin-left: -3%">
          <label for="rol" style="font-weight: bold;">Roles</label>
          <select  class="form-control border-primary " id="rol" formControlName="rol" (change)="menusByrol()">
            <option [value]="null" >Seleccione un rol </option>
            <option *ngFor="let rol of objRol" [value]="rol.id" >{{rol.nombreRol}}</option>

          </select>


          <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">

              <span style="color:red" *ngIf="rol.errors.required">Debe seleccionar un rol </span>
            </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Funcionalidad</th>
                <th>Menú</th>
                <th>Detalle</th>
                <th>Módulo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let m of menus; let indice=index">
              <tr *ngFor="let f of m.funcionalidades">

                <td>{{ f.funcionalidad.nombreSubmenu }}</td>
                <td>{{ f.funcionalidad.menu.nombreMenu }}</td>
                <td></td>
                <td>{{ f.funcionalidad.modulo.detalle }}</td>
                <div *ngIf="f.permiso == true">
                  <td style="text-align: center">
                    <input style="margin-top: 0%;margin-left: 2%;" type="checkbox" class="form-check-input"
                      id="materialChecked2" (click)="toogleInput(f.funcionalidad.id)" checked>

                  </td>
                </div>
                <div *ngIf="f.permiso == false">
                  <td style="text-align: center">
                    <input style="margin-top: 0%;margin-left: 2%;" type="checkbox" class="form-check-input"
                      id="materialChecked2" (click)="toogleInput(f.funcionalidad.id)">

                  </td>
                </div>

              </tr>
            </tbody>
          </table>
          <ul>
            <span><pagination-controls (pageChange)="pageActual = $event"></pagination-controls></span>
          </ul>
        </div>
        <br>
        <!-- <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
        <br>
        <button type="submit" class="mr-2"
          [class]="update?'btn btn-warning':'btn btn-success mr-10 btn-md'">{{update?'Actualizar':'Guardar permiso'}}</button>
      </form>


    </div>
        <div class="col-md 7" *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
            <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
        </div>
  </div>
</div>
