<div bsModal #formtemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-right">Gestión de Rol</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-header">
          <strong>Registrar Rol</strong>
        </div>
        <div class="card-body">
          <form class="rolFormulario" [formGroup]="formRol" class="was-validated" novalidate>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="nombreRol">Nombre Rol</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
                  placeholder="Ingrese el nombre del rol" class="form-control is-valid" [(ngModel)]="rol.nombreRol"
                  formControlName='nombreRol' required>
                <div class="valid-feedback" *ngIf="!nombreRolField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el nombre del rol
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionRol">Descripción</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
                  placeholder="Ingrese la descripcion " class="form-control is-valid" [(ngModel)]="rol.descripcion"
                  formControlName='descripcion' required>
                <div class="valid-feedback" *ngIf="!descripcionRol.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para la descripción
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="tipo_rolRol">Tipo rol</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="rol.tipoRol" formControlName='tipoRol' required>
                  <option *ngFor='let tipoRol of objtipoRol' [ngValue]="tipoRol"
                    [selected]="rol.tipoRol&&tipoRol.id === rol.tipoRol.id">{{tipoRol.descripcionRol}}</option>
                </select>
                <div class="valid-feedback" *ngIf="!idtipo_rolRol.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para el tipo de rol
              </div>
            </div>
          </form>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click)="guardarRol(rol)"
              [disabled]="formRol.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
      <div class="col-md 7" *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
          <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
      </div>
    </div>
  </div>
</div>
<!-- <app-roles-list
    [rol]="objRol"
     (openModalNew)="openModalRol()"
     (openModalUpdate)="openModalRolUpdate($event)">
    </app-roles-list> -->
