<div class="div-principal col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
<div class="col-lg-10">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Periodo Matricula Registrados
        <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros($event.target.value) ">
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
        </select>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover table-responsive">
        <thead>
          <tr class="table-info">
            <th>Código</th>
            <th>Periodo</th>
            <th>Descripción</th>
            <th>Calendario</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let periodo of periodo | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
            <td >{{periodo.id}}</td>
            <td >{{periodo.periodo}}</td>
            <td >{{periodo.descripcion}}</td>
            <td >{{periodo.calendario}}</td>
            <td >{{periodo.fechaInicial |date:'shortDate':'-5'}}</td>
            <td >{{periodo.fechaFinal |date:'shortDate':'-5'}}</td>
            <td >
                <span class="badge badge-primary" style="cursor: pointer;" (click) = "openModalActualizar(periodo)" >Actualizar</span>
              <span class="badge badge-danger" style="cursor: pointer;" (click) = "openModalDelete(periodo.id)">Eliminar</span>
            </td>
            <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Confirmación de eliminación de registro</h4>
                    <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>¿Está seguro que desea eliminar el registro?&hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="dangerModal.hide();">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="onDeletePeriodo()">Aceptar</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </tr>
    </tbody>
    <button type="button" class="btn btn-success mr-10 btn-sm" (click)="openModalCrear()">Agregar</button>
      </table>
      <ul>
        <span><pagination-controls (pageChange)="pageActual = $event"></pagination-controls></span>
      </ul>

            <!-- <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>

        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>  -->
            <div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md 7" *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
          <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
      </div>
    </div>
  </div>
</div>

