
<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <!--
    informacion personal
  -->
  <ng-wizard-step  [title]="'Información del Estudiante'" [description]="" >
  <form class="funcFormulario" [formGroup]="formPersona" class="was-validated" novalidate>
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <input type="text" [(ngModel)] = "persona.id" formControlName ='id' hidden>

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="tipoId">Tipo Identificación</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="tipoIdentificacionR"
                  formControlName='tipoIdentificacion' required>
                  <option value="">Seleccione</option>
                  <option *ngFor="let tipoId of objTipoId" [ngValue]="tipoId" [selected]="tipoIdentificacionR&&tipoId.id === tipoIdentificacionR.id">{{tipoId.codigo }}</option>
                  objTipoId

                </select>
                <div class="valid-feedback" *ngIf="!idtipoIdentificacionField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="identificacion">Identificación</label>
              <div class="col-md-7">
                <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su identificación"
                  class="form-control is-valid" [(ngModel)]="persona.identificacion" formControlName='identificacion'
                  required id="identificacion" (blur)="traerPersonasById()" >
                <div class="valid-feedback" *ngIf="!identificacionField.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="pNombre">Primer Nombre</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su primer nombre"
                  class="form-control is-valid" [(ngModel)]="persona.nombre1" formControlName='nombre1' required>
                <div class="valid-feedback" *ngIf="!nombre1Field.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="segundoNombre">Segundo Nombre</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su segundo nombre"
                  class="form-control" [(ngModel)]="persona.nombre2" formControlName='nombre2' >
                <!-- <div class="valid-feedback" *ngIf="!nombreDosField.hasError('required')">
                  Valor valido
                </div> -->
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="apellido1">Primer Apellido</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su primer apellido"
                  class="form-control is-valid" [(ngModel)]="persona.apellido1" formControlName='apellido1'
                  required>
                <div class="valid-feedback" *ngIf="!apellido1Field.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="apellido2">Segundo Apellido</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su segundo apellido"
                  class="form-control" [(ngModel)]="persona.apellido2" formControlName='apellido2'>
                <!-- <div class="valid-feedback" *ngIf="!apellidoDosField.hasError('required')">
                  Valor valido
                </div> -->
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el nombre del menú
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="departamento">Departamento de Nacimiento</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="departamento" formControlName='departamento'
                  id="departamento" (change)="traerCiudadesByDep()" required>
                  <option [value]="null">Seleccione</option>
                  <option *ngFor="let dep of objDep" [ngValue]="dep" [selected]="departamento&&dep.id === departamento.id ">{{dep.descripcion }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!departamentoField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="departamento">Ciudad de Nacimiento</label>
              <div class="col-md-7">
                <select [compareWith]="compare" class="form-control is-valid" [(ngModel)]="ciudad" formControlName='ciudadNac'
                  required>
                  <option [value]="null">Seleccione</option>
                  <option *ngFor="let ciudad of objCiudadDep" [ngValue]="ciudad" >{{ciudad.descripcion }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!idciudadNacField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="fechaFinal">Fecha de Nacimiento</label>
              <div class="col-md-7">
                <my-date-picker class="is-valid" placeholder="Seleccione su Fecha de Nacimiento"
                  [options]="myDatePickerOptionsFin" formControlName="fechaNac" [(ngModel)]="persona.fechaNac">
                </my-date-picker>
                <div class="valid-feedback" *ngIf="!fechaNacField.hasError('required');else formato ">
                  Valor valido
                </div>
                <ng-template #formato>
                  formato de fecha:(aaaa/mm/dd)
                </ng-template>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-5 col-form-label" for="rutaDocumento">Foto</label>
              <div class="custom-file col-md-5">
                <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile"
                  (change)="onFileChange($event.target.files)">
                <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose
                  file</label>
              </div>
            </div>
          </div>

          <img width="150" height="250" class="col-md-3" formControlName="rutaDoc">
        </div>
      </div>
    </form>
    </ng-wizard-step>
<!--
  informacion Ubicacion
 -->
 <ng-wizard-step [state]="formPersona.valid?'normal':'disabled'" [title]="'Información de Ubicación'" [description]="">
  <form class="funcFormulario" [formGroup]="formUbicacion" class="was-validated" novalidate>

  <div class="col-md-8">
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="departamentoU">Departamento de Ubicación</label>
      <div class="col-md-7">
        <select class="form-control is-valid" [(ngModel)]="departamentoU" formControlName='departamentoU'
          id="departamentoU" (change)="traerCiudadesByDepU()" required>
          <option value="">Seleccione</option>
          <option *ngFor="let dep of objDep" [ngValue]="dep" [selected]="departamentoU&&dep.id === departamentoU.id">{{dep.descripcion }}</option>

        </select>
        <div class="valid-feedback" *ngIf="!departamentoUField.hasError('required')">
          Valor valido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-form-label" for="ciudadU">Ciudad de Ubicación</label>
      <div class="col-md-7">
        <select [compareWith]="compare" class="form-control is-valid" [(ngModel)]="ciudadU" formControlName='ciudadUbicacion'
          required>
          <option value="">Seleccione</option>
          <option *ngFor="let ciudad of objCiudadDepU" [ngValue]="ciudad" >{{ ciudad.descripcion }}</option>

        </select>
        <div class="valid-feedback" *ngIf="!idciudadUbicacionField.hasError('required')">
          Valor valido
        </div>
      </div>
    </div>
  <div class="form-group row">
    <label class="col-md-4 col-form-label" for="direccion">Dirección</label>
    <div class="col-md-7">
      <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su Direccion"
        class="form-control is-valid" [(ngModel)]="persona.direccion" formControlName='direccion' required>
      <div class="valid-feedback" *ngIf="!direccionField.hasError('required')">
        Valor valido
      </div>
    </div>
    <div class="invalid-feedback">
      por favor ingrese un valor valido para el nombre del menú
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 col-form-label" for="email">Correo Electrónico</label>
    <div class="col-md-7">
      <input type="email" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Correo"
        class="form-control is-valid" [(ngModel)]="persona.email" formControlName="email"
        required>
      <div class="valid-feedback" *ngIf="!emailField.hasError('required')">
        Valor valido
      </div>
    </div>
    <div class="invalid-feedback">
      por favor ingrese un valor valido para el nombre del menú
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 col-form-label" for="celular">Celular</label>
    <div class="col-md-7">
      <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
        class="form-control is-valid" [(ngModel)]="persona.celular" formControlName="celular"
        required>
      <div class="valid-feedback" *ngIf="!celularField.hasError('required')">
        Valor valido
      </div>
    </div>
    <div class="invalid-feedback">
      por favor ingrese un valor valido para el nombre del menú
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 col-form-label" for="movil">Teléfono Fijo</label>
    <div class="col-md-7">
      <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
        class="form-control is-valid" [(ngModel)]="persona.telefonoFijo" formControlName="telefonoFijo">
      <div class="valid-feedback" *ngIf="!telefonoFijoField.hasError('required')">
        Valor valido
      </div>
    </div>
    <div class="invalid-feedback">
      por favor ingrese un valor valido para el nombre del menú
    </div>
  </div>
  </div>
  </form>
</ng-wizard-step>
<!--
info acudiente
 -->
    <ng-wizard-step [state]="formUbicacion.valid?'normal':'disabled'" [title]="'Información del Acudiente'" [description]="">
      <form class="funcFormulario" [formGroup]="formAcudiente" class="was-validated" novalidate>

      <div class="col-md-8">


      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="nombres">Nombres</label>
        <div class="col-md-7">
          <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su nombre"
            class="form-control is-valid" [(ngModel)]="acudiente.nombres" formControlName='nombres' required>
          <div class="valid-feedback" *ngIf="!nombresField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="apellidos">Apellidos</label>
        <div class="col-md-7">
          <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese su apellido"
            class="form-control is-valid" [(ngModel)]="acudiente.apellidos" formControlName='apellidos' required>
          <div class="valid-feedback" *ngIf="!apellidosField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="identificacion">Identificación</label>
        <div class="col-md-7">
          <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su identificación"
            class="form-control is-valid" [(ngModel)]="acudiente.identificacion" formControlName='identificacion' required>
          <div class="valid-feedback" *ngIf="!identificacionaField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="email">Correo Electrónico</label>
        <div class="col-md-7">
          <input type="email" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Email"
            class="form-control is-valid" [(ngModel)]="acudiente.email" formControlName="email"
            required>
          <div class="valid-feedback" *ngIf="!emailaField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="telmoviil">Celular</label>
        <div class="col-md-7">
          <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
            class="form-control is-valid" [(ngModel)]="acudiente.telMovil" formControlName="telMovil"
            required>
          <div class="valid-feedback" *ngIf="!telMovilField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="telfijo">Teléfono Fijo</label>
        <div class="col-md-7">
          <input type="number" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese su Telefono Celular"
            class="form-control is-valid" [(ngModel)]="acudiente.telFijo" formControlName="telFijo">
          <div class="valid-feedback" *ngIf="!telFijoField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div class="invalid-feedback">
          por favor ingrese un valor valido para el nombre del menú
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="perfilProfesional">Parentesco</label>
        <div class="col-md-7">
          <select class="form-control is-valid" [(ngModel)]="acudiente.idparentesco" formControlName='idparentesco' required>
            <option value="">Seleccione</option>
            <option *ngFor="let par of objPar" [value]="par.id">{{ par.nombreParentesco }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idparentescoField.hasError('required')">
            Valor valido
          </div>
        </div>
      </div>
      </div>
      </form>
    </ng-wizard-step>
<!--
  informacion de contacto
 -->
    <ng-wizard-step [state]="formAcudiente.valid?'normal':'disabled'" [title]="'Información de Matricula'" [description]="">
      <form class="funcFormulario" [formGroup]="formMatricula" class="was-validated" novalidate>

      <div class="col-md-8">
        <!-- <input type="text" value="idpersona" [(ngModel)]="contrato.idpersona" formControlName='idpersona'> -->

      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="fechaContrato">Fecha de matricula</label>
        <div class="col-md-7">
          <my-date-picker class="is-valid" placeholder="Seleccione la fecha de Matricula"
            [options]="myDatePickerOptions" formControlName="fecha" [(ngModel)]="matricula.fecha">
          </my-date-picker>
          <div class="valid-feedback" *ngIf="!fechaField.hasError('required');else formato ">
            Valor valido
          </div>
          <ng-template #formato>
            formato de fecha:(aaaa/mm/dd)
          </ng-template>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label class="col-md-4 col-form-label" for="tipoContrato">Prestacion Social</label>
        <div class="col-md-7">
          <select class="form-control is-valid" [(ngModel)]="matricula.idprestacionsocia" formControlName='idprestacionsocia'
            required>
            <option value="">Seleccione</option>
            <option *ngFor="let tipoC of objTipoContrato" [value]="tipoC.id">{{ tipoC.nombreTipocontrato }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idprestacionsociaField.hasError('required')">
            Valor valido
          </div>
        </div>
      </div> -->
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="perfilProfesional">Programa</label>
        <div class="col-md-7">
          <select  class="form-control is-valid" [(ngModel)]="matricula.idprograma" formControlName='idprograma' required id="idprograma" (change)="traerPeriodosByProg()">
            <option value="">Seleccione</option>
            <option *ngFor="let prog of objProg" [value]="prog.id">{{ prog.nombrePrograma }}</option>

          </select>
          <div class="valid-feedback" *ngIf="!idprogramaField.hasError('required')">
            Valor valido
          </div>
        </div>
        <div *ngIf="objPeriodo">Periodo: {{ objPeriodo.periodo }}</div>
      </div>



    </div>
    </form>
    </ng-wizard-step>
<!--
  documentacion de contratacion
 -->
    <ng-wizard-step [state]="formMatricula.valid?'normal':'disabled'" [title]="'Documentos de matricula'" [description]="">
      <form class="funcFormulario" [formGroup]="formDocumento" class="was-validated" novalidate>

      <div class="col-md-8">

        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="perfilProfesional">Tipo documento</label>
          <div class="col-md-7">
            <select class="form-control is-valid" [(ngModel)]="documento.idtipoDocumento" formControlName='idtipoDocumento' required>
              <option value="">Seleccione</option>
              <option *ngFor="let tipoD of objTipoDoc" [value]="tipoD.id">{{ tipoD.tituloDocumento }}</option>

            </select>
            <div class="valid-feedback" *ngIf="!idtipoDocumentoField.hasError('required')">
              Valor valido
            </div>
          </div>
        </div>



      <div class="form-group row">
        <label class="col-md-5 col-form-label" for="rutaDocumento_matricula">Documento</label>
        <div class="custom-file col-md-5">
          <input type="file" class="custom-file-input" multiple formControlName="file" id="importFile"
            (change)="onFileChange($event.target.files)">
          <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose
            file</label>
        </div>
      </div>

    </div>
  </form>
    </ng-wizard-step>

  </ng-wizard>
<!-- <div class="card-footer">
  <button type="submit" class="btn btn-sm btn-primary" (click)="guardarPersona(Persona)" [disabled] ="formPersona.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
  <button type="reset" class="btn btn-sm btn-danger" (click)="limpiarValidaciones()"><i class="fa fa-ban"></i> Cancelar</button>
</div> -->
<div class="col-md 7" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
</div>
