<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipo Producto</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Clase Producto</strong>
    </div>
    <div class="card-body">
      <form class="tipoFormulario" [formGroup] = "formTipo" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameTipo">Detalle Tipo Producto</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tipoProducto.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el detalle de tipo producto" class="form-control is-valid" [(ngModel)]="tipoProducto.detalle" formControlName='detalle' required>
                <div class="valid-feedback" *ngIf="!nameTipoField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre el tipo de producto
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionTipo">Descripción</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese una descripción para el tipo producto" class="form-control is-valid" [(ngModel)]="tipoProducto.descripcion" formControlName='descripcion' required>
                  <div class="valid-feedback" *ngIf="!descripcionTipo.hasError('required')">
                    Valor valido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingrese un valor valido para la descripción
                </div>
                </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipoProducto(tipoProducto)" [disabled] ="formTipo.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-list-tipo-producto
  [tipoProducto]="objTipo"
   (openModalNew)="openModalTipo()"
   (openModalUpdate)="openModalTipoUpdate($event)">
  </app-list-tipo-producto>
