<div bsModal #tabModal="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Gestión de Jornadas</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      <div class="card-header" >
        <p ><i class="fa fa-align-justify" ></i> Jornadas Disponibles</p>
          <select #nreg class="form-control col-lg-2" (change)="enviarNumeroRegistros($event.target.value) ">
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
          </select>
      </div>
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr class="table-info">
              <th><div><input type="checkbox" ></div></th>
              <th>Jornada</th>
              <th>Hora Inicial</th>
              <th>Hora Final</th>
              <th>Dias de Jornada</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let jornada of jornadas | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }; let i = index">
              <th >
                   <div><input type="checkbox" (change)="onChange(jornada, $event.target.checked,i)" ng-model=""></div>
            </th>
              <td >{{jornada.nombreJornada}}</td>
              <td >{{jornada.horaInicial}}</td>
              <td >{{jornada.horaFinal}}</td>
              <td >{{jornada.descripcion}}</td>
              <td >
                  <span class="badge badge-primary" style="cursor: pointer;" (click) = "openModalActualizar(jornada)" >Actualizar</span>
                <span class="badge badge-danger" style="cursor: pointer;" (click) = "openModalDelete(jornada.id)">Eliminar</span>
              </td>
            </tr>
      </tbody>
        </table>
        <ul>
          <span><pagination-controls (pageChange)="pageActual = $event"></pagination-controls></span>
        </ul>

  </div>
  <div bsModal #dangerModal="bs-modal" class="modal del fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmación de eliminación de registro</h4>
          <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Esta seguro que desea eliminar este registro ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dangerModal.hide();">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="onDeletePrograma()">Aceptar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-warning mr-10 btn-sm" (click)="openFormularioGestionJornada()">Configurar Jornada</button>
    <button type="button" class="btn btn-success mr-10 btn-sm" (click)="agregarJornada()">Agregar Jornada</button>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModal()">Close</button>
  </div>
  <app-jornada-form
  [programa]="programa"
  [jorandas]="jornadas"
  [objsDias]="objsDias"
  (enviarDiasJornada)="cargarObjDiasJornada($event)">
  
  </app-jornada-form>
  
  
