.modal.del.modal-lg {
    max-width: 50%;
  }
  
  @media (min-width: 992px) {
      .modal-dialog {
        max-width: 80%;
      }
      .table {
          display: table;
          height:100%;
          width: 100%;
         }
  }