<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Asignaturas</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Asignatura</strong>
    </div>
    <div class="card-body">
      <form class="materiaFormulario" [formGroup] = "formMateria" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="tituloMateria">Nombre de Asignatura</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "materia.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la asignatura" class="form-control is-valid" [(ngModel)]="materia.tituloMateria" formControlName='tituloMateria' required>
              <div class="valid-feedback" *ngIf="!tituloMateriaField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para la asignatura
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcion">Descripción</label>
              <div class="col-md-7">
                <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Descripción..." class="form-control is-valid" [(ngModel)]="materia.descripcion" formControlName='descripcion' required></textarea>
                  <div class="valid-feedback" *ngIf="!descripcionMateriaField.hasError('required')">
                    Valor valido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingrese un valor valido para la descripción
                </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="contenido">Contenido</label>
                  <div class="col-md-7">
                    <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Contenido..." class="form-control is-valid" [(ngModel)]="materia.contenido" formControlName='contenido' required></textarea>
                      <div class="valid-feedback" *ngIf="!contenidoMateriaField.hasError('required')">
                        Valor valido
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      por favor ingrese un valor valido para el contenido
                    </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-5 col-form-label" for="rutaDoc">Doc. Contenido</label>
                      <div class="custom-file col-md-5">
                        <input type="file" class="custom-file-input" multiple formControlName="rutaDoc" id="importFile" (change)="onFileChange($event.target.files)">
                        <label class="custom-file-label " #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
                      </div>
                    </div>
                   
                   
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarMateria()" [disabled] ="formMateria.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-materia-tab-list
  [materias]="objMaterias"
   (openModalNew)="openModalMateria()"
   (openModalUpdate)="openModalMateriaUpdate($event)">
    
  </app-materia-tab-list>
  