<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión Periodo de Matricula</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Periodo de Matricula</strong>
    </div>
    <div class="card-body">
      <form class="tPagoFormulario" [formGroup]="formPeriodo" class="was-validated" novalidate>
        <!-- <div class="form-group row">
          <label class="col-md-4 col-form-label" for="detallePeriodo">Periodo</label>
          <div class="col-md-7">

            <input type="text" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese el periodo" class="form-control is-valid" [(ngModel)]="periodo.periodo" formControlName='periodo' required>
              <div class="valid-feedback" *ngIf="!periodoField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para periodo
            </div>
            </div> -->
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="detallePeriodo">Periodo</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)]="periodo.id" formControlName='id' hidden>
            <input type="number" placeholder="Ingrese el Periodo" class="form-control is-valid"
              [(ngModel)]="periodo.periodo" formControlName='periodo' required>
            <div class="valid-feedback" *ngIf="!periodoField.hasError('required')">
              Valor valido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingrese un valor valido para la capacidad del Salón
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="descripcion">Descripciòn</label>
          <div class="col-md-7">
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();"
              placeholder="Ingrese la descripciòn" class="form-control is-valid" [(ngModel)]="periodo.descripcion"
              formControlName='descripcion' required>
            <div class="valid-feedback" *ngIf="!descripcionField.hasError('required')">
              Valor valido
            </div>
          </div>
          <div class="invalid-feedback">
            por favor ingrese un valor valido para periodo
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="calendario">Calendario</label>
          <div class="col-md-7">
            <select class="form-control is-valid" [(ngModel)]="periodo.calendario" formControlName='calendario'
              required>
              <option value="A">CALENDARIO A</option>
              <option value="B">CALENDARIO B</option>

            </select>
            <div class="valid-feedback" *ngIf="!calendarioField.hasError('required')">
              Valor valido
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="fechaInicial">Fecha inicio</label>
          <div class="col-md-7">
            <my-date-picker 	class="is-valid" placeholder="Selecione la fecha de inicio" [options]="myDatePickerOptions"
              formControlName="fechaInicial" [(ngModel)]="periodo.fechaInicial" id="fechaInicial" (dateChanged)="onDateChanged($event)">
            </my-date-picker>
            <div class="valid-feedback" *ngIf="!fechaInicialField.hasError('required'); else formato">
              Valor valido
            </div>
            <ng-template #formato>
              formato de fecha:(aaaa/mm/dd)
            </ng-template>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="fechaFinal">Fecha Final</label>
          <div class="col-md-7">
            <my-date-picker class="is-valid" placeholder="Seleccione la Fecha Final " [options]="myDatePickerOptionsFin"
              formControlName="fechaFinal" [(ngModel)]="periodo.fechaFinal">
            </my-date-picker>
            <div class="valid-feedback" *ngIf="!fechaFinalField.hasError('required');else formato ">
              Valor valido
            </div>
            <ng-template #formato>
              formato de fecha:(aaaa/mm/dd)
            </ng-template>
          </div>
        </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarPeriodo(periodo)"
          [disabled]="formPeriodo.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i>
          Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
      <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</ng-template>
<app-list-periodo-matricula [periodo]="objPeriodo" (openModalNew)="openModalPeriodo()"
  (openModalUpdate)="openModalPeriodoUpdate($event)">
</app-list-periodo-matricula>
