<div bsModal #formtemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title pull-right"><strong>Gestión de Clasificaciones del School</strong></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <div class="card-header">
            <strong>Registrar Clasificación</strong>
          </div>
          <div class="card-body">
            <form class="calsifFormulario" [formGroup] = "formClasificacion" class="was-validated" novalidate>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="detalleClasificacion">Clasificación</label>
                <div class="col-md-7">
                  <input type="text" [(ngModel)] = "clasificacion.id" formControlName ='id' hidden>
                  <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese la clasificación" class="form-control is-valid" [(ngModel)]="clasificacion.detalleClasificacion" formControlName='detalleClasificacion' required>
                    <div class="valid-feedback" *ngIf="!detalleClasificacionField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para la clasificación
                  </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="descripcionClasificacion">Descripción</label>
                    <div class="col-md-7">
                      <textarea type="text" rows="9" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Descripcion..." class="form-control is-valid" [(ngModel)]="clasificacion.descripcionClasificacion" formControlName='descripcionClasificacion' required></textarea>
                        <div class="valid-feedback" *ngIf="!descripcionClasificacionField.hasError('required')">
                          Valor valido
                        </div>
                      </div>
                      <div class="invalid-feedback">
                        por favor ingrese un valor valido para la descripción
                      </div>
                      </div>
            </form>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary" (click)="guardarClasificacion()" [disabled] ="formClasificacion.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
              <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
            </div>
          </div>
        </div>
        <div class="col-md 7" *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
        </div>
    </div>
  </div>
</div>
  <!-- <app-clasificacion-list
  [clasifs]="objClasif"
   (openModalNew)="openModalClasificacion()"
   (openModalUpdate)="openModalClasificacionUpdate($event)">
  </app-clasificacion-list> -->
