 <div bsModal #formPeriodoTemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Activar Programa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="periodoProgFormulario" [formGroup] = "formProgPeriodo" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Periodo">Periodo</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "periodo.id" formControlName ='id' hidden>
              <input type="text" [(ngModel)] = "periodo.idprograma" formControlName ='idprograma' hidden>
              <input type="number" placeholder="Ingrese el periodo" class="form-control is-valid" [(ngModel)]="periodo.periodo" formControlName='periodo' required>
                <div class="valid-feedback" *ngIf="!periodoField.hasError('required')">
                  Valor valido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingrese un valor valido para el periodo
              </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" min="" for="fechaInicial">Fecha Incial</label>
                <div class="col-md-7">
                  <input type="date" onkeyup="javascript:this.value=this.value.toUpperCase();" min="" placeholder="Ingrese la fecha inicial" class="form-control is-valid" [(ngModel)]="periodo.fechaInicial" formControlName='fechaInicial' required>
                    <div class="valid-feedback" *ngIf="!fechaInicialField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese una fecha valida
                  </div>
                  </div>
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="fechaFinal">Fecha Final</label>
                <div class="col-md-7">
                  <input type="date" placeholder="Ingrese la fecha final" class="form-control is-valid" [(ngModel)]="periodo.fechaFinal" formControlName='fechaFinal' required>
                    <div class="valid-feedback" *ngIf="!fechaFinalField.hasError('required')">
                      Valor valido
                    </div>
                  </div>
                  <div class="invalid-feedback">
                    por favor ingrese un valor valido para la fecha
                  </div>
                  </div>
        </form>
      </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarPrograma()" [disabled] ="formProgPeriodo.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</div>
</div>
</div>
