<!-- <ng-template #template> -->
<div style="margin-left: 17rem;" bsModal #formtemplate="bs-modal" class="modal fade modal-lg centered" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipo Contrato</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Tipo Contrato</strong>
    </div>
    <div class="card-body">
      <form class="tipoContratoFormulario" [formGroup] = "formTipoc" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameTipoC">Nombre de Tipo Contrato</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tipoContrato.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del tipo contrato" class="form-control is-valid" [(ngModel)]="tipoContrato.nombreTipocontrato" formControlName='nombreTipocontrato' required>
                <div class="valid-feedback" *ngIf="!nameTipoCField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del tipo contrato
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="descripcionTipo">Descripción</label>
              <div class="col-md-7">
                <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese una descripción del tipo contrato" class="form-control is-valid" [(ngModel)]="tipoContrato.descripcion" formControlName='descripcion' required>
                  <div class="valid-feedback" *ngIf="!descripcionTipo.hasError('required')">
                    Valor valido
                  </div>
                </div>
                <div class="invalid-feedback">
                  por favor ingrese un valor valido para la descripción
                </div>
                </div>

      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipoContrato(tipoContrato)" [disabled] ="formTipoc.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </div>
  </div>
</div>
  <!-- <app-list-tipo-contrato
  [tipoContrato]="objTipoC"
   (openModalNew)="openModalTipoC()"
   (openModalUpdate)="openModalTipoCUpdate($event)">
  </app-list-tipo-contrato> -->

  <!-- <app-contratacion
  (openModalNew)="openModalTipoC()"
  >
  </app-contratacion> -->
