<ng-template #template>
    <div class="modal-header">
    <h4 class="modal-title pull-right">Gestión de Tipo rol</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="card-header">
        <strong>Registrar Descripción Tipo rol</strong>
      </div>
      <div class="card-body">
        <form class="tipo_rolFormulario" [formGroup] = "formTipo_rol" class="was-validated" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="nameTipo_rol">Descripcion Tipo rol</label>
            <div class="col-md-7">
              <input type="text" [(ngModel)] = "tipo_rol.id" formControlName ='id' hidden>
              <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese descripcion de tipo rol" class="form-control is-valid" [(ngModel)]="tipo_rol.descripcionRol" formControlName='descripcionRol' required>
                <div class="valid-feedback" *ngIf="!nameTipo_rolField.hasError('required')">
                  Valor válido
                </div>
              </div>
              <div class="invalid-feedback">
                por favor ingresé un valor válido para la descripcion de tipo rol
              </div>
              </div>
        </form>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipo_rol(tipo_rol)" [disabled] ="formTipo_rol.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <div class="col-md 7" *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
    </div>
    </ng-template>
    <app-tipo-rol-list
    [tipo_rol]="objTipo_rol"
     (openModalNew)="openModalTipo_rol()"
     (openModalUpdate)="openModalTipo_rolUpdate($event)">
    </app-tipo-rol-list>
  
