<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Fucionalidad</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Funcionalidad</strong>
    </div>
    <div class="card-body">
      <form class="funcFormulario" [formGroup] = "formFunc" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameSubmenu">Nombre Funcionalidad</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "funcionalidad.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre de la funcionalidad" class="form-control is-valid" [(ngModel)]="funcionalidad.nombreSubmenu" formControlName='nombreSubmenu' required>
              <div class="valid-feedback" *ngIf="!nameSubmenuField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del menú
            </div>
            </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="url">Url</label>
          <div class="col-md-7">
            <input type="text" onkeyup="javascript:this.value=this.value;" placeholder="Ingrese la url de la funcionalidad" class="form-control is-valid" [(ngModel)]="funcionalidad.url" formControlName='url' required>
              <div class="valid-feedback" *ngIf="!urlField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del menú
            </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="menu">Menú</label>
              <div class="col-md-7">
                <select  class="form-control is-valid" [(ngModel)]="funcionalidad.idmenu" formControlName='idmenu' required>
                  <option  [value]="null">Seleccione</option>
                  <option *ngFor="let menu of objMenu" [value]="menu.id">{{menu.nombreMenu }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!menuField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="modulo">Modulo</label>
              <div class="col-md-7">
                <select class="form-control is-valid" [(ngModel)]="funcionalidad.idmodulo" formControlName='idmodulo' required>
                  <option [value]="null" >Seleccione</option>
                  <option *ngFor="let mod of objMod" [value]="mod.id" >{{ mod.detalle }}</option>

                </select>
                <div class="valid-feedback" *ngIf="!moduloField.hasError('required')">
                  Valor valido
                </div>
              </div>
            </div>
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarFuncionalidad(funcionalidad)" [disabled] ="formFunc.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-list-funcionalidad
  [funcionalidad]="objFunc"
   (openModalNew)="openModalFunc()"
   (openModalUpdate)="openModalFuncUpdate($event)">
  </app-list-funcionalidad>
