<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Tipos de pago</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Tipo de Pago</strong>
    </div>
    <div class="card-body">
      <form class="tPagoFormulario" [formGroup] = "formTpago" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="detalleTipoPago">Tipo Pago</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "tpago.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el tipo de pago" class="form-control is-valid" [(ngModel)]="tpago.detalleTipoPago" formControlName='detalleTipoPago' required>
              <div class="valid-feedback" *ngIf="!detalleTipoPagoField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el tipo de pago
            </div>
            </div>
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarTipoPago(tpago)" [disabled] ="formTpago.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-tipo-pago-list
  [tPagos]="objTpagos"
   (openModalNew)="openModalTipoPago()"
   (openModalUpdate)="openModalTipoPagoUpdate($event)">
  </app-tipo-pago-list>

