<div class="div-principal col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Documentos Actividad Registrados
          <select #nreg class="form-control col-lg-1" (change)="enviarNumeroRegistros($event.target.value) ">
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
          </select>
      </div>
      <div class="card-body">
        <div class="div table-container ">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <tr class="table-info">
              <th>Código</th>
              <th>Nombre Documento</th>
              <th>Observación Documento</th>
              <th>Doc</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let documento of documento | paginate: { itemsPerPage: this.numReg, currentPage: pageActual }">
              <td >{{documento.id}}</td>
              <td >{{documento.nombre_documento}}</td>
              <td >{{documento.observacion_documento}}</td>
              <td >{{documento.contenido}}</td>
              <td >{{documento.rutaDoc}}</td>
              <td >
                  <span class="badge badge-primary" style="cursor: pointer;" (click) = "openModalActualizar(documento)" >Actualizar</span>
                <span class="badge badge-danger" style="cursor: pointer;" (click) = "openModalDelete(documento.id)">Eliminar</span>
              </td>
            </tr>
            </tbody>
            <button type="button" class="btn btn-success mr-10 btn-sm" (click)="openModalCrear()">Agregar</button>
              </table>
              <div>
              <ul>
                <span><pagination-controls (pageChange)="pageActual = $event"></pagination-controls></span>
              </ul>
              <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-danger" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Confirmación de eliminación de registro</h4>
                      <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>¿Está seguro que desea eliminar este registro?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="dangerModal.hide();">Cancelar</button>
                      <button type="button" class="btn btn-danger" (click)="onDeleteDocumento()">Aceptar</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
        <div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
      <strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
</div>
  </div>
  </div>
  