<app-buscar-estudiante>
</app-buscar-estudiante>
<app-estudiante>

</app-estudiante>

<!-- <div id="accordion">
  <div class="card">
    <div class="card-header" (click)="isCollapsed = !isCollapsed" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseOne">
          <strong>Programas Matriculados</strong>
        </button>
      </h5>
    </div>
    <div id="collapseOne" [ngbCollapse]="isCollapsed" style="cursor: pointer;">
      <div class="card-body">
        <app-programas-matriculados>
        </app-programas-matriculados>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed2 = !isCollapsed2" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link" 
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseTwo">
          <strong>Materias Matriculadas</strong>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" [ngbCollapse]="isCollapsed2">
      <div class="card-body">
        <app-materias-matriculadas>
        </app-materias-matriculadas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed3 = !isCollapsed3" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link" 
          [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseTwo">
          <strong>Materias Pendientes</strong>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" [ngbCollapse]="isCollapsed3">
      <div class="card-body">
        <app-materias-pendientes>
        </app-materias-pendientes>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed4 = !isCollapsed4" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link" 
          [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseTwo">
          <strong>Materias Aprobadas</strong>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" [ngbCollapse]="isCollapsed4">
      <div class="card-body">
        <app-materias-aprobadas>
        </app-materias-aprobadas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed4 = !isCollapsed4" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link" 
          [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseTwo">
          <strong>Trayectoria Disciplinaria</strong>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" [ngbCollapse]="isCollapsed4">
      <div class="card-body">
        <app-materias-aprobadas>
        </app-materias-aprobadas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" (click)="isCollapsed4 = !isCollapsed4" style="cursor: pointer;">
      <h5>
        <button type="button" class="btn btn-link" 
          [attr.aria-expanded]="!isCollapsed4" aria-controls="collapseTwo">
          <strong>Cuentas por Pagar</strong>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" [ngbCollapse]="isCollapsed4">
      <div class="card-body">
        <app-materias-aprobadas>
        </app-materias-aprobadas>
      </div>
    </div>
  </div>
</div> -->
