<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>{{materia.materia.tituloMateria}}</h6>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <h6>{{materia.clasificacion.detalleClasificacion}} <span class="badge badge-secondary" style="cursor: pointer;" (click)="openUpdateAsignacion(materia)">Cerrar Materia</span></h6> 
  </div>
  <div class="card-body">
   
    <img *ngIf="materia.estado.estado === 'ACTIVO'" src="./../../../../../assets/img/imagenes-school/mater5.jpg" alt="Modelo artista">
    <img *ngIf="materia.estado.estado === 'INACTIVO' || materia.estado.estado === 'CERRADO'" src="./../../../../../assets/img/imagenes-school/mater5Inac.jpg" alt="Modelo artista">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
     <p class="card-text" *ngIf="materia.contrato.id !== 0"><img class="img-avatar" title="Imagen Docente" width="10" height="10" src="./../../../../../assets/img/avatars/avatarMaster.jpg" alt="admin@bootstrapmaster.com"><strong>{{materia.contrato.persona.nombre1 +' '+ materia.contrato.persona.apellido1}}</strong></p>
     <p class="card-text doc" *ngIf="materia.contrato.id === 0"><img class="img-avatar" title="Imagen Docente" width="10" height="10" src="./../../../../../assets/img/avatars/avatarMaster.jpg" alt="admin@bootstrapmaster.com"><strong>Sin Asignar</strong></p>
     <span class="badge badge-primary" style="cursor: pointer;" (click)="openUpdateAsignacion(materia)">Actualizar</span>
    <span class="badge badge-danger" style="cursor: pointer;" >Eliminar</span>
  </div>
</div>
<app-materia-form>
  
</app-materia-form>
