

<div class="card" (click)="pensumPrograma(programa)">
  <div class="card-header">
    <!-- VA EL TIPO DE PROGRAMA -->
      <h6 >{{programa.nombrePrograma}}</h6>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <h6>{{programa.tipoPrograma.nombreTipoPrograma}}</h6>
  </div>
  <div class="card-body">
    <img *ngIf="programa.estado.estado === 'ACTIVO'" src="./../../../../../assets/img/imagenes-school/programaEdu4.png" alt="Modelo artista">
    <img *ngIf="programa.estado.estado === 'INACTIVO'" src="./../../../../../assets/img/imagenes-school/programaEdu4Inac.png" alt="Modelo artista">
  </div>
  <div class="card-footer">
    <!-- <div *ngIf="programa.estado.estado === 'ACTIVO'"> -->
    <p class="card-text"><strong>Periodo:</strong>{{periodo.periodo }}</p>
    <p class="card-text"><strong>Inicia:</strong>{{periodo.fechaInicial | date:'MM-dd-yyyy'}}</p>
    <p class="card-text"><strong>Finaliza:</strong> {{periodo.fechaFinal | date:'MM-dd-yyyy'}}</p>
  <!-- </div> -->
</div>
  <button type="button" class="btn btn-secondary mr-10 btn-sm"  (click)="openTablaJornadasPrograma()">Agregar Jornadas</button>
  <button *ngIf="programa.estado.estado === 'INACTIVO'" type="button" class="btn btn-success mr-10 btn-sm"  (click)="openTablaPeriodosPrograma()">Aperturar Programa</button>
  <button *ngIf="programa.estado.estado === 'ACTIVO'" type="button" class="btn btn-danger mr-10 btn-sm"  (click)="openTablaPeriodosPrograma()">Cerrar Programa</button>
  
</div>
  <app-periodo-programa-tab
  [programa]="programa"
  (periodoApertura)="getPeriodoApertura($event)">
  (enviarPeriodoProgramas)="cargarPeriodoIncial($event)"
</app-periodo-programa-tab>
<app-jornada-tab
[programa]="programa">

</app-jornada-tab>