<ng-template #template>
  <div class="modal-header">
  <h4 class="modal-title pull-right">Gestión de Menú</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <div class="card-header">
      <strong>Registrar Menú</strong>
    </div>
    <div class="card-body">
      <form class="menuFormulario" [formGroup] = "formMenu" class="was-validated" novalidate>
        <div class="form-group row">
          <label class="col-md-4 col-form-label" for="nameMenu">Nombre Menú</label>
          <div class="col-md-7">
            <input type="text" [(ngModel)] = "menu.id" formControlName ='id' hidden>
            <input type="text" onkeyup="javascript:this.value=this.value.toUpperCase();" placeholder="Ingrese el nombre del menú" class="form-control is-valid" [(ngModel)]="menu.nombreMenu" formControlName='nombreMenu' required>
              <div class="valid-feedback" *ngIf="!nameMenuField.hasError('required')">
                Valor valido
              </div>
            </div>
            <div class="invalid-feedback">
              por favor ingrese un valor valido para el nombre del menú
            </div>
            </div>
      </form>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" (click)="guardarMenu(menu)" [disabled] ="formMenu.invalid"><i class="fa fa-dot-circle-o"></i> Aceptar</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="closeModal()"><i class="fa fa-ban"></i> Cancelar</button>
      </div>
    </div>
  </div>
  <div class="col-md 7" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msgStr }}</strong> {{ alert.msg }}</alert>
  </div>
  </ng-template>
  <app-menu-list
  [menus]="objMenus"
   (openModalNew)="openModalMenu()"
   (openModalUpdate)="openModalMenuUpdate($event)">
  </app-menu-list>
