<div class="card">
  <div class="card-header">
    <p><strong>Buscar Programas Matriculados por Estudiante</strong></p>
  </div>
  <div class="card-body">
    <form class="EmpresaFormulario" [formGroup] = "formSearchEstudiante" class="was-validated" novalidate>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="razonSocial">Identificación</label>
        <div class="col-md-5">
            <input type="number" placeholder="Ingrese el numero de identificacion" class="form-control is-valid" formControlName='identificacion' required>
                <div class="valid-feedback" *ngIf="!identificacionEstudiante.hasError('required')">
                    Valor válido
                </div>
          </div>
          <div class="invalid-feedback">
                por favor ingresé un valor válido para en numero de documento
          </div>
      </div>
    </form>
    </div>
    <div class="card-footer">
    <!-- <div class="card-footer"> -->
    <button  type="submit" class="btn btn-sm btn-success" (click)="buscarMatriculasEstudiante()" [disabled] ="formSearchEstudiante.invalid"><i class="fa fa-dot-circle-o"></i>Search</button>
    
    </div>
</div>