.card {
    width: 15px;
    height: 100px;
    display: flex;
    border-radius: 8px;
    margin:5px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;

}
.card:hover {
    transform: translateY(-15x);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card h6 {
    font-weight: bold;
}
.card-body{
    width:10rem;
    height:10rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    padding: 0;
   }
img{
    width:100%;
    height:100%;
   }
.card {
    width: 10rem;
    height: 20rem;
    cursor: pointer;
}
.card-text {
    font-size: 12px;
}
.card p {
    margin: 0px;
    font-size: 12px;
}
.card h3 {
    margin: 0px;
}
.img-avatar {
    width: 50px;
    height: 50px;
}
.doc {
    font-size: 8px;
}