<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>MATERIA 1</h6>
      <p class="card-text doc"><strong>6-7</strong></p>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <p class="card-text doc" style="color: rgb(69, 129, 8);"><strong>Aprobada</strong><img style="width: 20px;height: 20px;" src="./../../../../../assets/img/icons/activar1.png"></p>
    
    
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/mater5.jpg">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
      <p class="card-text doc"><strong>Calificación: </strong>4,5</p>
      <p class="card-text doc"><strong>Reprobada: </strong> 0</p>
      <p class="card-text doc"><strong>Cancelada: </strong> 0</p>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>MATERIA 1</h6>
      <p class="card-text doc"><strong>6-7</strong></p>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <p class="card-text doc" style="color: rgb(148, 115, 8);"><strong>Cancelada</strong><img style="width: 30px;height: 20px;" src="./../../../../../assets/img/icons/cancelada.png"></p>
    
    
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/mater5.jpg">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
      <p class="card-text doc"><strong>Calificación: </strong>4,5</p>
      <p class="card-text doc"><strong>Reprobada: </strong> 0</p>
      <p class="card-text doc"><strong>Cancelada: </strong> 0</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <!-- VA EL nombre de la asignatura -->
      <h6>MATERIA 1</h6>
      <p class="card-text doc"><strong>6-7</strong></p>
    <!-- EL NOMBRE DEL PROGRAMA -->
    <p class="card-text doc" style="color:darkgray;"><strong>Pendiente</strong></p>
    
    
  </div>
  <div class="card-body">
    <img src="./../../../../../assets/img/imagenes-school/mater5.jpg">
  </div>
  <div class="card-footer">
    <!-- <p ng-hide="materia.materia | isEmpty">Some Content</p> -->
      <p class="card-text doc"><strong>Calificación: </strong>4,5</p>
      <p class="card-text doc"><strong>Reprobada: </strong> 0</p>
      <p class="card-text doc"><strong>Cancelada: </strong> 0</p>
  </div>
</div>